body {
    margin: 0;
    background-image: url(img/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 95vh;
}

body::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.icono i {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 7px;
}

.login {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);    
    height: 425px;
    background: #000000;
    color: #fff;
    width: 700px;
    border-radius: 45px;
}

img {
    width: auto;
    height: 425px;
    float: right;
    border-radius: 0px 45px 45px 0px;
}

h1 {
    color: #f8dcff;
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
    padding-top: 25px;
}

label{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-left: 80px;
    margin-bottom: 0.5rem;
}

/*Segundo texto: contraseña*/
.form-label{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-left: 124px;
}

div{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.invalid-feedback{
    margin-left: 63px;
}

.button{
    background-color: #68005a;
    color: #fff;
    border: 0;
    border-radius: 100px;
    width: 105px;
    height: 40px;
    transition: .2s;
    padding: 8px;
    margin-left: 147px;
    margin-top: 30px;
}

.button:active{
    background-color: #ffffff;
    color: #68005a;
    transform: scale(0.8);
}

